{% extends "base.html" %}

{% block title %}
Медицинский центр - Личный кабинет
{% endblock %}

{% block style%}
<link rel="stylesheet" href="/static/css/patientlk.css">
{% endblock %}

{% block content %}
 <div class="profile-grid">
            <div class="info-card" id="patientInfo">
                <div class="loading">
                    <div class="loading-spinner"></div>
                    <div>Загрузка данных...</div>
                </div>
            </div>


            <div class="appointments-section">
                <div class="appointments-tabs">
                    <div class="tab active" onclick="switchTab('upcoming', patientData, event)">Предстоящие приёмы</div>
                    <div class="tab" onclick="switchTab('past', patientData, event)">История приёмов</div>
                </div>
                <div id="appointmentsContainer">
                    <div class="loading">
                        <div class="loading-spinner"></div>
                        <div>Загрузка приёмов...</div>
                    </div>
                </div>
            </div>
        </div>
<div id="editModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Редактировать данные</h2>
                <button class="close-btn" onclick="closeEditModal()">&times;</button>
            </div>
            <form id="editForm" onsubmit="handleSubmit(event)">
                <div class="form-group">
                    <label for="last_name">Фамилия</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <div class="form-group">
                    <label for="first_name">Имя</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
                <div class="form-group">
                    <label for="birth_date">Дата рождения</label>
                    <input type="date" id="birth_date" name="birth_date" required>
                </div>
                <div class="form-group">
                    <label for="phone_number">Телефон</label>
                    <input type="tel" id="phone_number" name="phone_number" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <button type="submit" class="save-btn">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="/static/js/patientlk.js"></script>
{% endblock %}
